@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.woff2') format('woff2'),
        url('font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('font/OpenSans-Regular.woff2') format('woff2'),
        url('font/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.banner-container {
    height: 100vh;
    position: relative;
}

.hero-banner {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
}

.banner-card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 50%;
    top: 25%;
    transform: translate(-50%);
}

.banner-logo {
    height: 120px;
}

.banner-logo-text {
    font-family: "Norse", sans-serif;
    color: #fffefe;
    font-size: 100px;
}

.banner-footer {
    position: absolute;
    color: #fffefed8;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    flex: 1;
}

h1 {
    font-size: 24px;
}

.hero-text {
    margin-bottom: 30px;
    width: 700px;
}

.form-body {
    width: 100%;
    background-color: #ffffff;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-bottom: 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.form-title {
    padding: 20px 0 25px;
}

button {
    width: 200px;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    color: #fffefe;
    background-color: #596D48;
    transition: all 0.15s ease-in-out;
}

button:hover {
    background-color: #5e8351;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}   

.form-container {
    display: flex;
    gap: 60px;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
}

.hero-text,
.sub-text,
button,
.form-title,
.form-left,
.login {
    margin-left: 40px;
}

.login {
    font-size: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-container input {
    height: 30px;
    width: 260px;
    font-size: 16px;
    padding-left: 4px;
    outline: none;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
}

.form-container input:focus {
    border: 2px solid rgb(0, 89, 255);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.form-container input[type="password"]:invalid {
    border: 2px solid rgb(255, 0, 0);
}

h1, p, label {
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: inherit;
}
