@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.woff2') format('woff2'),
        url('font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    /* justify-content: center; */
    gap: 40px;
}

.banner-container {
    height: 100vh;
    position: relative;
}

.hero-banner {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
}

.banner-card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 50%;
    top: 25%;
    transform: translate(-50%);
}

.banner-logo {
    height: 120px;
}

.banner-logo-text {
    font-family: "Norse", sans-serif;
    color: #fffefe;
    font-size: 100px;
}

.banner-footer {
    position: absolute;
    color: #fffefed8;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
}

h1 {
    font-size: 24px;
}

.hero-text {
    margin-bottom: 30px;
}

form {
    margin-top: 60px;
    margin-bottom: 30px;
}

button {
    width: 160px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    color: #fffefe;
    background-color: #596d48;
}

.form-container {
    display: flex;
    gap: 60px;
}
.login {
    font-size: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

